extends layout

block content
  block home
    .large-hero.page-row-gap.main-content
      h1
        | Lindores & Griffin is an information technology consultancy based at Falmouth University.
        | We have a range of expertise in the technology industry and are passionate about providing online solutions.

block sidebar