extends layout

block head
    - var theTitle = "Projects"
    title= `${h.siteName} | ${theTitle}`

block sidebar
    .sidebar.page-row-gap.main-content
        h3 Projects

block content
    .projects.page-row-gap.main-content
        h1.projects__title__main Some of the businesses we've helped for our university projects
        .projects__image
            img(src="../assets/images/icons/squeaker.png" width="100px")
        .projects__container
            h3.projects__title Samphire Club
            h3.projects__subtitle Networking
            p A small team of us used a combination of design thinking and creative
                | idea generation techniques to generate a list of ideas for The Samphire Club,
                | a networking business run by John Harvey. The Samphire Club wanted us to find ways
                | in which they could implement a process of renewing membership and increasing referrals.
                | We worked for an agreed 24-hour period to generate a list of solutions, organise a presentation
                | and pitch the ideas back the next day. As students, we made use of what we have
                | been learning about and were able to give The Samphire Club our fresh perspectives.

            h3.projects__title Classic Cottages
            h3.projects__subtitle Holiday Cottage Lettings
            p We have helped Classic Cottages come up with a creative solution in a similar 24-hour
                | time constraint. We used creative thinking and problem solving techniques that had been
                | taught at the University and implemented these accordingly. Our team provided insight and
                | showed Classic Cottages how they could attract a more varied range of property.

            h3.projects__title Visit Cornwall
            h3.projects__subtitle Tourism
            p Visit Cornwall Tourism is the main tourist body that operates in Cornwall. Our team of nine
                | had the opportunity to analyse their current revenue streams. Firstly, we evaluated the
                | potential threats the business faced in their current environment by creating a P.E.S.T.L.E
                | analysis. Secondly, we generated ideas for new streams of revenue. Throughout the 24-hour
                | time slot, we referred to the P.E.S.T.L.E framework and linked the threats to our ideas
                | of potential revenue streams, ruling some out.

            h3.projects__title Growth Hub
            h3.projects__subtitle Business Services
            p Growth Hub told us they are not reaching their target audience. They were focusing on acquiring
                | funding for a specific few large companies of which are taking up the majority of the funding.
                | Eager to help the local economy, we suggested that Growth hub evenly distribute the funding to
                | a wider audience including many small businesses such as start-ups. To do this, we suggested
                | they utilise online resources, which we were happy to run for them.
